#main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;
}


/* Left Section */

.left-section {
  flex-basis: 40%;
  position: relative;
  margin-left: 50px;
  /* background-color: aquamarine; */
}

.left-section h3 img {
  font-family: "Fredoka";
  font-weight: 400;
  font-size: x-large;
  margin-top: 10px;
}

.left-section img {
  width: 30px;
}

.left-section h1 {
  font-family: "Fredoka";
  font-size: 70px;
  margin-top: 20px;
}

.sub-headlines {
  margin-left: 50px;
  margin-top: 25px;
}

.sub-headline {
  position: relative;
}

.sub-headline img {
  background-color: #fe5e35;
  border-radius: 20px;
  margin-top: 10px;
}

.sub-headlines .sub-headline {
  font-family: "Poppins";
  font-weight: 500;
  margin-bottom: 10px;
}

.sub-headline .sub-paragraph {
  position: absolute;
  top: 11px;
  left: 40px;
}

.text {
  margin-top: 30px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: xx-small;
}

.action-btns {
  display: flex;
  /* background-color: steelblue; */
  height: 100px;
  align-items: center;
  justify-content: center;
}

.action-btns .action-btn {
  height: 40px;
  width: 150px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: #fe5e35;
  color: #ffffff;
  font-size: x-small;
  margin-right: 20px;
}


/* Right Section */

.right-section {
  position: relative;
  flex-basis: 60%;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 50px;
  /* background-color: burlywood; */
}

.headphone-div img {
  z-index: 10;
  top: 0;
  align-items: center;
  width: 500px;
  height: 450px;
}

.discount {
  position: absolute;
  margin: -420px 0 0 0;
}

.discount img {
  width: 130px;
  position: absolute;
  z-index: 15;
  top: 200px;
  left: -50px;
}

.discount h4 {
  position: absolute;
  top: 235px;
  left: -13px;
  font-size: x-small;
  color: #ffffff;
  z-index: 16;
}

.discount h1 {
  position: absolute;
  font-family: "Poppins";
  top: 250px;
  left: -15px;
  font-size: 35px;
  color: #ffffff;
  z-index: 17;
}

.dots {
  display: flex;
  /* background-color: turquoise; */
  align-items: center;
  height: 50px;
  justify-content: center;
}

.dots .dot{
  z-index: 30;
  margin: 0 10px 0 10px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}

.dots .yellow-dot {
  background-color: #fbd104;
}

.dots .tomato-dot {
  background-color: #fe5e35;
} 

.dots .black-dot {
  background-color: #000;
}

.addToCart {
  /* background-color: teal; */
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: center;
}

.addToCart button {
  height: 40px;
  width: 150px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: #fe5e35;
  color: #ffffff;
  font-size: x-small;
  display: block;
}