@media only screen and (max-width:1024px) {
  
  ul {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  #main-section {
    flex-direction: column-reverse;
    margin: 50px 0;
  }

  .right-section-main {
    flex-basis: 100%;
    margin-bottom: 50px;
  }

  .right-section-main .headphone-div img {
    width: 80%;
    height: 80%;
    display: block;
    margin: 0 auto;
  }

  .left-section {
    margin-left: 0;
  }

  .right-section {
    margin-right: 0;
  }

  .discount img {
    width: 90px;
    left: 10px;
    top: 250px;
  }

  .discount h4 {
    font-size: xx-small;
    left: 30px;
    top: 270px;
  }

  .discount h1 {
    font-size: 25px;
    left: 30px;
    top: 285px;
  }

  .dots {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

}