#navContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  /* background-color: blue; */
}

.logo {
  width: 100px;
  cursor: pointer;
  margin: 30px 0;
}

.menu-icon {
  width: 25px;
  cursor: pointer;
  display: none;
}

ul {
  cursor: pointer;
  flex: 1;
  text-align: right;
}

ul li {
  list-style: none;
  display: inline-block;
  margin-right: 50px;
}

ul li a {
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

ul li a:hover {
  color: #fe5e35;
}